
@font-face {
    src: url(fonts/neon.ttf);
    font-family: neon;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

canvas {
    object-fit: contain;
    width: 80vw;
    height: 70vh;
}

body {
    background-color: #333333;
    text-align: center;
}

body h1 {
    font-family: neon;
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 0;
    color: white;
    text-shadow: 2px 0px 21px rgba(193, 0, 255, 1);
}

.toolbarButton {
    width: 50px;
    height: 50px;
    background-color: white;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    border: solid black 2px;
    font-size: large;
}

.toolbarButton:hover {
    cursor: pointer;
} 

#toolbar {
    background-color: #666666;
    width: 900px;
    height: 60px;
}

#sizePicker {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-top: 20px;
    background-color: white;
    text-align: center;

}

.sizePickerUnopened {
    position: absolute;
    left: -9999px;
}

#sizePickerDone:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    cursor: pointer;
} 
#sizePickerDone {
    width: 100px;
    height: 40px;
    border: black solid 2px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -20px;
} 

h3 {
    font-family: 'Poppins', sans-serif;
}

.sizePickerOpened {
    box-shadow:0 0 0 1600px rgba(0,0,0,0.65);/* dark around it */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}


.colorPickerUnopened {
    position: absolute;
    left: -9999px;
}

#colorPickerDone {
    width: 100px;
    height: 40px;
    border: black solid 2px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

#colorPickerDone:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    cursor: pointer;
} 



.colorPickerOpened {
    box-shadow:0 0 0 1600px rgba(0,0,0,0.65);/* dark around it */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.colorButton {
    width: 40px;
    height: 40px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
    border-style: solid;
    border: none;
    box-sizing:border-box;
}

#firstSizeIndicator, #secondSizeIndicator {
    display: inline;
    position: relative;
    bottom: 55px;
    font-family: 'Poppins', sans-serif;
}
#firstSizeIndicator {
    margin-right: 80px;
}
#secondSizeIndicator {
    margin-left: 80px;
}

.toolbarButtonWithHtml {
    position: relative;
    bottom: 16.25px;
}

#brushButton {
    background-image: url(images/brushIcon.png);
    background-size: cover;
}

.selected {
    border: black solid 2px !important;
    border-style: solid;
    margin-top: -2px;
    margin-bottom: 2px;
}

h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 50;
    margin-bottom: 0;
    margin-top: 10px;
}

.colorButton:hover {
    outline:none;
    border: none;
    width: 50px;
    height: 50px;
    margin: -5px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.colorButton:active {
    border: none;
    outline:none;
}
.colorButton:focus {
    border: none;
    outline:none;
}

#colorPicker {
    height: 450px;
    width: 320px;
    background-color: #eeeeee;
    float: left;
    display: block;
    text-align: center;

}




canvas {
    cursor: crosshair;
}

/*slider*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%; 
    background: transparent;
    position: relative;
    left: -2px;
    margin-bottom: 10px;
    margin-top: 10px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;

}
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
    width: 100%;
    cursor: col-resize;
  
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    border-radius: 1000px;
    width: 30px;
    height: 30px;
    cursor: col-resize;
    background: #333333;
    margin-top: -10px;
}

input[type=range]::-moz-range-thumb {
    border-radius: 1000px;
    width: 30px;
    height: 30px;
    cursor: col-resize;
    background: #333333;
}

input[type=range]::-ms-thumb {
    border-radius: 1000px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: #333333;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100px;
    height: 10px;
    cursor: pointer;
    background: #666666;
    border-radius: 1000px;
}
input[type=range] {

}